.TryOurBanner_Container {
  padding-top: 1rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: var(--body_background) !important;
}

.TryOurBanner_Container_Content {
  background-color: var(--heading_bar_bg) !important;
  padding: 0.2em !important;
  padding-left: 0.4em !important;
  font-size: 1.4em !important;
  word-wrap: break-word;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--app_text_color);
}

.TryOurBanner_IMG {
  width: 60px;
  margin-right: 10px !important;
}

.TryOurBanner_Advanced {
  text-decoration-line: underline;
  display: inline;
  font-size: revert;
  font-weight: revert;
  position: initial;
  margin-bottom: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 5px !important;
  color: var(--app_text_color);
}
